h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

h2{
    text-align: justify;
    text-transform: uppercase;
    color: black;
}

h3{
    text-align: justify;
    text-transform: uppercase;
    color: black;
}

h2.destacado{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

h2.adjunto{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

p.adjunto{
    text-align: justify;
    color: black;
}

p.destacado, dt, dd, li{
    text-align: justify;
    color: white;
}

#piePaginaUser{
    color: white;
}

#mmensajeria{
    color: white;
}

#mmore{
    color: white;
}

#contenedorImgCP{
    margin-left: 250px;
}

#videoNET{
    margin-left: 280px;
}

#imgPapas{
    width: 500px;
    height: 250px;
    padding-left: 60px;
}

#imgInformacion{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgProximamente{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTop10{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgPolemicas{
    width: 100px;
    height: 121px;
    padding: 25px;
}

#imgTopPeliculas{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTopSeries{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTopDocumentales{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgEstadisticas{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#button1{
    background-color: white;
}

#button2{
    background-color: white;
}

#button3{
    background-color: white;
}

#tabla-contenedor{
    width: 600px;
}

table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: solid 1px black;
}