@font-face{
    font-family: 'MiFuente-Bangers-Regular';
    src: url(/Fuentes/Bangers-Regular.ttf);
}
@font-face{
    font-family: 'MiFuente-DancingScript';
    src: url(/Fuentes/DancingScript-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'MiFuente-RobotoSlab';
    src: url(/Fuentes/RobotoSlab-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'MiFuente-AbrilFatFace';
    src: url(/Fuentes/AbrilFatface-Regular.ttf);
}
h1{
    font-family: 'MiFuente-AbrilFatFace';
    text-align: center;
    text-transform: uppercase;
    color: black;
}
h2{
    font-family: 'MiFuente-AbrilFatFace';
    text-align: center;
    text-transform: uppercase;
    color: black;
}
h3{
    font-family: 'MiFuente-DancingScript';
    text-align: justify;
    text-transform: uppercase;
    color: black;
}
h2.destacado{
    font-family: 'MiFuente-AbrilFatFace';
    text-align: center;
    text-transform: uppercase;
    color: black;
}
h2.adjunto{
    font-family: 'MiFuente-AbrilFatFace';
    text-align: center;
    text-transform: uppercase;
    color: black;
}
p.adjunto{
    font-family: 'MiFuente-RobotoSlab';
    text-align: justify;
    color: black;
}
p.destacado, dt, dd, li{
    font-family: 'MiFuente-RobotoSlab';
    text-align: justify;
    color: white;
}
aside{
    font-family: 'MiFuente-Bangers-Regular';
}
#piePaginaUser{
    color: white;
}
#mmensajeria{
    color: white;
}
#mmore{
    color: white;
}
#contenedorImgCP{
    margin-left: 250px;
}
#videoNET{
    margin-left: 280px;
}
#imgPapas{
    width: 500px;
    height: 250px;
    padding-left: 60px;
}

#imgInformacion{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgProximamente{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTop10{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgPolemicas{
    width: 100px;
    height: 121px;
    padding: 25px;
}

#imgTopPeliculas{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTopSeries{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgTopDocumentales{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgEstadisticas{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#imgContacto{
    width: 100px;
    height: 120px;
    padding: 25px;
}

#button1{
    background-color: white;
}

#button2{
    background-color: white;
}

#button3{
    background-color: white;
}

#tabla-contenedor{
    width: 600px;
}

table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: solid 1px black;
}
/*MOVIMIENTO IMAGENES ARCHIVO: TOP10.HTML*/
#imagenLCDPD, #imagenPM, #imagenGMZ, #imagenEFDP{
    margin-left: -1px;
}
#imagenFT, #imagenLCDP, #imagenMC7, #imagenV2, #imagenLP{
    margin-left: 450px;
}
/*MOVIMIENTO DE PARRAFOS*/
#parrafoLCDP, #parrafoFT, #parrafoLP{
    margin-top: -330px;
    margin-bottom: 200px;
    padding-right: 700px;
    padding-left: 1px;
}
#parrafoLCDPD, #parrafoPM, #parrafoCK, #parrafoGMZ, #parrafoEFDP{
    margin-top: -250px;
    margin-bottom: 250px;
    padding-right: 10px;
    padding-left: 650px;
}
#parrafoMC7, #parrafoV2{
    margin-top: -230px;
    margin-bottom: 250px;
    padding-right: 700px;
    padding-left: 1px;
}
/*DISEÑO PAGINA DE CONTACTO*/
#logoContacto{
    margin-left: 10px;
}
#txtRemitente{
    padding: 10px;
    width: 30%;
    margin: 50px;
    margin-left: 435px;
}
#textArea{
    margin-left: 435px;
    margin-top: -30px;
}
#boton3{
    float: left;
    padding-left: 720px;
    margin-bottom: 50px;
}