#MENU{
    border: 1px solid rgb(63, 51, 51);
    width: 25%;
    padding-top: 50px;
    padding-bottom: 60px;
    float: left;
}
#menuIndex{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuInformacion{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuProximamente{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTop10{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuPolemicas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopPeliculas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopSeries{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopDocumentales{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuEstadisticas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuContacto{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#contenedor{
    background-color: rgb(233, 41, 41);
    margin-left: 399px;
    margin-top: -570.9px;
    padding: 50px 50px 50px 50px;
    float: left;
}

#piepagina{
    border: 1px solid red;
    clear: both;
}