#MENU{
    border: 1px solid rgb(63, 51, 51);
    width: 13%;
    border-width: 3px;
    float: left;
    height: 420px;
    overflow: hidden;
}

#menuIndex{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuInformacion{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuProximamente{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTop10{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuPolemicas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopPeliculas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopSeries{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuTopDocumentales{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
#menuEstadisticas{
    border: 1px solid rgb(63, 51, 51);
    margin-right: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#texto{
    background-color: rgb(233, 41, 41);;
    width: 40%;
    margin-left: 10px;
    padding: 5px 20px;
    border-width: 3px;
    float: left;
}

#Audio-Visual{
    border: 1px solid rgb(63, 51, 51);
    width: 40%;
    margin-left: 10px;
    border-width: 3px;
    padding-left: 6.3px;
    padding-right: 6px;
    height: 800px;
    float: left;
}

#Audio-Visual-Destacado{
    border: 1px solid rgb(63, 51, 51);
    width: 40%;
    margin-left: 10px;
    border-width: 3px;
    padding-left: 6.3px;
    padding-right: 6px;
    height: 1187.2px;
    float: left;
}

#piepagina{
    border: 1px solid red;
    clear: both;
}